## Class 4 Aug

In [26]:
#Lecture 1
#Permitive Data Types
name: str = '   Fahad'
age: int =31
height: float=5.7
married_status: bool=True

print(f"My Name is {name.lstrip()}.")
print(f"I am {age} years old.")
print(f"My height is {height}.")

alpha:str #Declaration
alpha = "Alpha's Alpha" #Initialization
#Non Permitive Data Types

My Name is Fahad.
I am 31 years old.
My height is 5.7.

## Class 11 Aug

In [27]:
fruits: list =['apple','banana','cherry','date']

#forward index
fruits[0]
#reverse index
fruits[-2]
#Slicing
fruits[2:4]
fruits[-2:]

#Assignment
fruits[0]='orange'

#List Commands/Attributes

#Append
fruits.append('apple')

#Clear
#fruits.clear()

#Copy With = operator memory remains same
fruits1=fruits.copy()

#Count
fruits1.count('apple')

#Extended
fruits1.count('apple')

vegetables:list=['onion','carrot','potato','tomato','onion']
fruits1.extend(vegetables)

#Remove first instant we pass name
fruits1.remove('onion')

#in Pop we pass location i.e index
a=fruits1.pop(0)
fruits1.remove('onion')
print('Removed',a)

#reverse
fruits1.reverse()

#reverse
fruits1.sort()
print(fruits1)
fruits1.sort(reverse=True)
print(fruits1)

Removed orange
['apple', 'banana', 'carrot', 'cherry', 'date', 'potato', 'tomato']
['tomato', 'potato', 'date', 'cherry', 'carrot', 'banana', 'apple']

## Class 18 Aug

In [53]:
fruits:list = ['apple', 'banana', 'carrot', 'cherry', 'date']
vegetables:list = ['onion', 'potato', 'tomato', 'A', 'B']


for x,y in zip(fruits,vegetables):
    print(x.upper(),y)

#Range(start(default=0),end,step(default=1))

for i in range(2,10,2):
    print(i)

APPLE onion
BANANA potato
CARROT tomato
CHERRY A
DATE B
2
4
6
8

In [71]:
#Type Casting 
    #int
    #float
    #bool
    #str

    #list()
    #tuple
    #dict

li:list = list(range(0,11,2))

numbers:list=[1,2,3,4,5]

squares:list=[]
for x in numbers:
    x= x**2
    squares.append(x)

print(numbers)
print(squares)

squares1 = [x**2 for x in numbers]
print(squares1)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [74]:
li=[]

for i in range(0,5):
    li.append(i+1)
li

[1, 2, 3, 4, 5]

In [80]:
fruits=['a','b','c','d']
fruits.append('F')
fruits.insert(0,'a0')
print(fruits)


for i in range(len(fruits)):
    print('Index',i,fruits[i])

for a in fruits:
    print('Element',a)

['a0', 'a', 'b', 'c', 'd', 'F']
Index 0 a0
Index 1 a
Index 2 b
Index 3 c
Index 4 d
Index 5 F
Element a0
Element a
Element b
Element c
Element d
Element F

## Class 25 Aug

In [3]:
# num1=6
# # print(num1)

# num1:int= int(input('Enter 1 Number:'))
# num2:int= int(input('Enter 2 Number:'))
# num3:int= int(input('Enter 3 Number:'))
# num4:int= int(input('Enter 5 Number:'))
# num5:int= int(input('Enter 5 Number:'))
# print(num1)
# print(num2)
# print(num3)
# print(num4)
# print(num5)

60
50
50
50
50

Operation Operator
#+,-,\*,/

Logical Operator >,<,>=,<=,==,!= ,and, or

Membership Operator
in, not in

In [12]:
fruits=('Apple','Banana','Cherry','Apple')
fruits[0]
fruits[3]

'Apple'

In [4]:
for x in fruits:
    print(x)

Apple
Banana
Cherry

In [13]:
#All list methods can be applied except change
#Single element does not make a tuple so we use standard of 1 element and ,

li = [2]
print(type(li))
li1 = (2,)
print(type(li1))
li2 = (2) 
print(type(li2))

<class 'list'>
<class 'tuple'>
<class 'int'>

In [30]:
#Input are by default string
temp = float(input('Enter Temperature:'))

if temp > 35:
    print('Hot Day')

elif temp >= 20 and temp <= 35:
    print('Pleasant Day')
else:
    print('Cold Day')

#print(type(marks))

Cold Day

In [2]:
num1:int= int(input('Enter 1 Number:'))
num2:int= int(input('Enter 2 Number:'))
ans=num1+num2
print(f'Sum of {num1} and {num2} is {ans}')

Sum of 50 and 35 is 85

In [3]:
animal:str= str(input('What is your favorite animal?'))
print(f'My favorite animal is also {animal}!')

My favorite animal is also Cow

In [6]:
temp_f :float=float(input('Enter Temperature in Fahrenheit :'))
temp_c=(temp_f-32)*5/9
print(f'Temperature in Celsius is {temp_c}C')

Temperature in Celsius is 23.88888888888889C

In [8]:
len1 = float(input("What is len of side 1?"))
len2 = float(input("What is len of side 2?"))
len3 = float(input("What is len of side 3?"))
perimeter=float(len1+len2+len3)
print(f'The perimeter of the triangle is {perimeter}')

The perimeter of the triangle is 21.0

In [9]:
num1=float(input('Type a number to see its square:'))
sq_num1=num1**2
print(f'{num1} squared is {sq_num1}')

5.0 squared is 25.0