## Class 4 Aug

In [26]:
#Lecture 1
#Permitive Data Types
name: str = '   Fahad'
age: int =31
height: float=5.7
married_status: bool=True

print(f"My Name is {name.lstrip()}.")
print(f"I am {age} years old.")
print(f"My height is {height}.")

alpha:str #Declaration
alpha = "Alpha's Alpha" #Initialization
#Non Permitive Data Types

My Name is Fahad.
I am 31 years old.
My height is 5.7.

## Class 11 Aug

In [27]:
fruits: list =['apple','banana','cherry','date']

#forward index
fruits[0]
#reverse index
fruits[-2]
#Slicing
fruits[2:4]
fruits[-2:]

#Assignment
fruits[0]='orange'

#List Commands/Attributes

#Append
fruits.append('apple')

#Clear
#fruits.clear()

#Copy With = operator memory remains same
fruits1=fruits.copy()

#Count
fruits1.count('apple')

#Extended
fruits1.count('apple')

vegetables:list=['onion','carrot','potato','tomato','onion']
fruits1.extend(vegetables)

#Remove first instant we pass name
fruits1.remove('onion')

#in Pop we pass location i.e index
a=fruits1.pop(0)
fruits1.remove('onion')
print('Removed',a)

#reverse
fruits1.reverse()

#reverse
fruits1.sort()
print(fruits1)
fruits1.sort(reverse=True)
print(fruits1)

Removed orange
['apple', 'banana', 'carrot', 'cherry', 'date', 'potato', 'tomato']
['tomato', 'potato', 'date', 'cherry', 'carrot', 'banana', 'apple']

## Class 18 Aug

In [53]:
fruits:list = ['apple', 'banana', 'carrot', 'cherry', 'date']
vegetables:list = ['onion', 'potato', 'tomato', 'A', 'B']


for x,y in zip(fruits,vegetables):
    print(x.upper(),y)

#Range(start(default=0),end,step(default=1))

for i in range(2,10,2):
    print(i)

APPLE onion
BANANA potato
CARROT tomato
CHERRY A
DATE B
2
4
6
8

In [71]:
#Type Casting 
    #int
    #float
    #bool
    #str

    #list()
    #tuple
    #dict

li:list = list(range(0,11,2))

numbers:list=[1,2,3,4,5]

squares:list=[]
for x in numbers:
    x= x**2
    squares.append(x)

print(numbers)
print(squares)

squares1 = [x**2 for x in numbers]
print(squares1)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [74]:
li=[]

for i in range(0,5):
    li.append(i+1)
li

[1, 2, 3, 4, 5]

In [80]:
fruits=['a','b','c','d']
fruits.append('F')
fruits.insert(0,'a0')
print(fruits)


for i in range(len(fruits)):
    print('Index',i,fruits[i])

for a in fruits:
    print('Element',a)

['a0', 'a', 'b', 'c', 'd', 'F']
Index 0 a0
Index 1 a
Index 2 b
Index 3 c
Index 4 d
Index 5 F
Element a0
Element a
Element b
Element c
Element d
Element F

## Class 25 Aug

In [3]:
# num1=6
# # print(num1)

# num1:int= int(input('Enter 1 Number:'))
# num2:int= int(input('Enter 2 Number:'))
# num3:int= int(input('Enter 3 Number:'))
# num4:int= int(input('Enter 5 Number:'))
# num5:int= int(input('Enter 5 Number:'))
# print(num1)
# print(num2)
# print(num3)
# print(num4)
# print(num5)

60
50
50
50
50

Operation Operator
#+,-,\*,/

Logical Operator >,<,>=,<=,==,!= ,and, or

Membership Operator
in, not in

In [12]:
fruits=('Apple','Banana','Cherry','Apple')
fruits[0]
fruits[3]

'Apple'

In [4]:
for x in fruits:
    print(x)

Apple
Banana
Cherry

In [13]:
#All list methods can be applied except change
#Single element does not make a tuple so we use standard of 1 element and ,

li = [2]
print(type(li))
li1 = (2,)
print(type(li1))
li2 = (2) 
print(type(li2))

<class 'list'>
<class 'tuple'>
<class 'int'>

In [30]:
#Input are by default string
temp = float(input('Enter Temperature:'))

if temp > 35:
    print('Hot Day')

elif temp >= 20 and temp <= 35:
    print('Pleasant Day')
else:
    print('Cold Day')

#print(type(marks))

Cold Day

In [2]:
num1:int= int(input('Enter 1 Number:'))
num2:int= int(input('Enter 2 Number:'))
ans=num1+num2
print(f'Sum of {num1} and {num2} is {ans}')

Sum of 50 and 35 is 85

In [3]:
animal:str= str(input('What is your favorite animal?'))
print(f'My favorite animal is also {animal}!')

My favorite animal is also Cow

In [6]:
temp_f :float=float(input('Enter Temperature in Fahrenheit :'))
temp_c=(temp_f-32)*5/9
print(f'Temperature in Celsius is {temp_c}C')

Temperature in Celsius is 23.88888888888889C

In [8]:
len1 = float(input("What is len of side 1?"))
len2 = float(input("What is len of side 2?"))
len3 = float(input("What is len of side 3?"))
perimeter=float(len1+len2+len3)
print(f'The perimeter of the triangle is {perimeter}')

The perimeter of the triangle is 21.0

In [9]:
num1=float(input('Type a number to see its square:'))
sq_num1=num1**2
print(f'{num1} squared is {sq_num1}')

5.0 squared is 25.0

In [13]:
numbers=[1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

## Class 1 Sep

Revised all lectures python and docker

## Class 8 Sep

- list and tuples have consecutive memory location
- dict have specified index (Not Consecutive)
  - 'A':'Apple' key value pair
  - index can be integer or string

In [9]:
fruits:dict = {'A':'Apple','B':'banana','C':'Cherry'}
print(fruits)
fruits['A']

{'A': 'Apple', 'B': 'banana', 'C': 'Cherry'}

'Apple'

In [72]:
names:dict = {1:'Ali',2:'Ahmed',3:'Fahad'}
print(names[1])
print(names.get(1))
print(names.values())
print(names.items())
names[3]='Ali'
list(names.items())[0][1]
print(names)

# Delete Item
del names[3]
print(names)

names.update({4:'Hassan'})

print(names)

Ali
Ali
dict_values(['Ali', 'Ahmed', 'Fahad'])
dict_items([(1, 'Ali'), (2, 'Ahmed'), (3, 'Fahad')])
{1: 'Ali', 2: 'Ahmed', 3: 'Ali'}
{1: 'Ali', 2: 'Ahmed'}
{1: 'Ali', 2: 'Ahmed', 4: 'Hassan'}

In [62]:
names[4]='abs'
#Access index
for x in names:
    print(x)

print('\n')


#Access values
for x in names.values():
    print(x)    

print('\n')

#return object with values and index
for x in names.items():
    print(x)        

print('\n')

for i,x in names.items():
    print(f'{i} : {x}')

1
2
4


Ali
Ahmed
abs


(1, 'Ali')
(2, 'Ahmed')
(4, 'abs')


1 : Ali
2 : Ahmed
4 : abs

In [78]:
students:dict = {'Roll No' : [101,102,103,104,105],
                  'Name' : ['Ali','Ahmed','Kamran','Ahad','Atif'],
                  'Subject': ['OS','OOP','DSA','DB','TOA']
           }



students['Roll No'].append(106)
students['Name'].append('Awais')
students['Subject'].append('AI')
print(students)

# index_to_remove = students['Roll No'].index(104)
# students['Roll No'].pop(index_to_remove)
# students['Name'].pop(index_to_remove)
# students['Subject'].pop(index_to_remove)

print(students)

roll_no_index = students['Roll No'].index(105)
name_req = students['Name'][roll_no_index]
sub_req = students['Subject'][roll_no_index]


print(name_req,sub_req)

{'Roll No': [101, 102, 103, 104, 105, 106], 'Name': ['Ali', 'Ahmed', 'Kamran', 'Ahad', 'Atif', 'Awais'], 'Subject': ['OS', 'OOP', 'DSA', 'DB', 'TOA', 'AI']}
{'Roll No': [101, 102, 103, 104, 105, 106], 'Name': ['Ali', 'Ahmed', 'Kamran', 'Ahad', 'Atif', 'Awais'], 'Subject': ['OS', 'OOP', 'DSA', 'DB', 'TOA', 'AI']}
Atif TOA

In [64]:
students['Name'][-1]

'Atif'

## Class 15 Sep

### Dictionary

A dictionary is a collection which is unordered, changeable and indexed. In Pyython dictionaries are written with curly brackets and they have keys and values.

dictionaries are mutable, unordered collections of key-value pairs.

In [28]:
from typing import Dict,Union,Optional
my_dict:Dict[str, Union[str, list[str],int]]={'name':'Fahad','age':31,'courses':['Gen Ai','Python',3]}
print(my_dict)

##Methods

print(my_dict['name'].upper())
my_dict['courses'].append('a')
print(my_dict.get('name'))
print(my_dict.get('address','Nf'))
my_dict.update({'address':'123 Abc'})
print(my_dict.keys())
print(my_dict.values())
print(my_dict.items())
age = my_dict.pop('age')
my_dict.update({'age': 26, 'address': '123 Main St'})
last_item = my_dict.popitem()

#my_dict.clear()
#age = my_dict.setdefault('age', 30)

#print(my_dict.fromkeys(['name']))
#print(my_dict)
#The fromkeys() method in Python creates a new dictionary with keys from an iterable and assigns a specified value to each key. If no value is specified, it defaults to None.

# my_dict1:Dict[str, Union[str, Optional[list[str]],int]]={'name':'Fahad','age':31,'courses':['Gen Ai','Python',3,None]}
# print(my_dict1)

{'name': 'Fahad', 'age': 31, 'courses': ['Gen Ai', 'Python', 3]}
FAHAD
Fahad
Nf
dict_keys(['name', 'age', 'courses', 'address'])
dict_values(['Fahad', 31, ['Gen Ai', 'Python', 3, 'a'], '123 Abc'])
dict_items([('name', 'Fahad'), ('age', 31), ('courses', ['Gen Ai', 'Python', 3, 'a']), ('address', '123 Abc')])

In [25]:
squared_numbers={i:i**2 for i in range(1,5)}
squared_numbers

{1: 1, 2: 4, 3: 9, 4: 16}

# While Loop

# Moved to Colab

In [2]:
add = lambda a,b:a+b
add(5,10)

15